<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.admin">

    <application>
        <activity
            android:name=".activity.UserEditActivity"
            android:label="编辑用户信息"></activity>
        <activity
            android:name=".AdminActivity"
            android:label="@string/manager"
            android:screenOrientation="portrait" />
    </application>

</manifest>