<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dev.question">

    <application>
        <activity
            android:name=".activity.FavoriteActivity"
            android:label="收藏点赞"></activity>
        <activity android:name=".activity.QuestionDetailActivity" />
    </application>

</manifest>